/* font-family: 'Roboto', sans-serif; */


*/ {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;

}

body {

    background: #000000;
   

    
}

h1 {
    font-size: 30px;
    color: #FFD700	;
    text-align: center;
    font-weight: bold;

}

.video-mercado {

    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;


}

.mascara-video {

    background: rgb(247, 236, 236);
    background: linear-gradient(270deg, rgba(247, 236, 236, 0) 0%, rgba(0, 0, 0, 1) 98%);
    position: fixed;
    top: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    
}

main {

    width: 20vw;
    height: 50vh;
    border-radius: 20px;
    background: #27516f;
    margin: 0 auto 40px;
    padding: 30px 24px 23px;
    opacity: 0.88;


}

label {

    color: #FFD700	;
    font-weight: 400;
    font-size: 16px;
    

}

select {

    border-radius: 4px;
    border: 1px solid #BBbbbB;
    background: #FFFFFF;
    width: 100%;
    height: 30px;
    margin-bottom: 12px;

    cursor: pointer;
    display: flex;
    padding: 5px;
    font-weight: 700;
    font-size: 14px;
    color: #555555;

}

input {

    border-radius: 4px;
    border: 1px solid #BBbbbB;
    background: #FFFFFF;
    display: flex;
    width: 96%;
    height: 20px;
    margin-bottom: 20px;
    cursor: pointer;

    padding: 4px;
    font-weight: 700;
    font-size: 14px;
    color: #555555;

}

button {
    border-radius: 5px;
    background: #cc8105;
    border: none;
    width: 100%;
    height: 38px;
    font-weight: 700;
    line-height: 18px;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

button:active {

    opacity: 0.6;
}

section {

    border-radius: 20px;
    border: 1px solid #cc8105;
    margin-top: 20px;
    padding: 15px;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3e332a;


}

.arrow-img {

    margin: 12px 0;
    width: 40px;


}

.currency-box {

    display: flex;
    flex-direction: column;
    align-items: center;




}

.currency {

    color: #f2e7e7;
    font-size: 14px;
    display: block;
    margin: auto;

}

.currency-value,
.currency-value-to-convert {

    color: #f2e7e7;
    font-weight: 700;
    font-size: 20px;
    display: block;
    margin: auto;

}

@media screen and (max-width: 900px) {

    main {

        width: 61vw;
        height: 40vh;
        border-radius: 20px;
        background: #27516f;
        margin-top: 15%;
        margin-right: 31px;
        padding: 35px;
        opacity: 0.88;


    }

    section {

        margin-top: 38px;

    }

    button {

        height: 72px;
        font-size: 20px;
        margin-top: 15px;
    }


}